body {
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px; /* Adjust the gap as needed for equal spacing */
    padding: 20px; /* Add padding to give some space around the navigation items */
    background-color: black;
}

.navigation1,
.navigation2 {
    background-color: aliceblue;
    width: 60px;
    height: 20px;
    border: 0px solid white;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; 
    line-height: 24px;
}

.navigation1:hover,
.navigation2:hover {
    background-color: aquamarine;
}

.text {
    text-align: center; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 100px;
    animation: colorChange 5s infinite;
}

.about-us {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    margin: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

@keyframes colorChange {
    0% { color: aliceblue; }
    25% { color: yellow; }
    50% { color: red; }
    75% { color: green; }
    100% { color: blue; }
}

.contactus {
    text-align: right;
    padding: 20px; 
    background: white;
}
